header[role="banner"] {
	@extend %clearfix;

	background: url(http://lorempixel.com/320/255/nature/2) no-repeat center center;
	background-size: cover;
	padding: ce(26px, 13px) cp(60px, 320px);
	text-align: center;

	@include bp(medium) {
		background-image: url(http://lorempixel.com/640/255/nature/2/);
		padding: 0;
		text-align: left;
	}

	@include bp(large) {
		background-image: url(http://lorempixel.com/1024/255/nature/2/);
		background-position: center bottom;
		background-size: cover;
	}

	a {
		color: #FFFFFF;
		text-decoration: none;
	}

	.logo {
		display: block;
		margin: 0 auto ce(30px, 13px);

		@include bp(medium) {
			float: left;
			margin: ce(25px, 13px) cp(25px, 640px);
		}
	}

	@include bp(medium) {
		.site-branding {
			float: left;
		}
	}

	.site-title, .site-description {
		text-shadow: 0 1px 3px rgba(0, 0, 0, 0.75);
	}

	.site-title {
		font-size: ce(26px, 13px);
		margin-bottom: ce(9px, 26px);

		@include bp(medium) {
			font-size: ce(30px, 13px);
			margin-top: ce(44px, 30px);
		}
	}

	.site-description {
		font-size: ce(16px, 13px); /* 16px / 13px */

		@include bp(medium) {
			font-size: ce(20px, 13px); /* 20px / 13px */
			margin-left: 1em;
		}
	}
}


.navbar {
	display: none;
}

#content {
	display: none;
}

#colophon {
	display: none;
}
